.home {
  .floatingHero {
    .feature-title {
      font-size: 3rem;
    }
    .feature-description {
      font-size: 18px;
    }
  }
}

@media (min-width: 1050px) {
  .home {
    .floatingHero {
      .feature-title {
        font-size: 6rem;
        color: #fffcfd;
      }
      .feature-description {
        font-size: 24px;
      }
    }
  }
}

.contentTypesStat {
  .statistics-cards {
    justify-content: space-between;
  }

  .statistic {
    flex: 0 0 300px;
    width: 300px;
    margin: 24px 12px;
  }

  .feature-img {
    border-radius: 50%;
    overflow: hidden;
    height: 300px;
    width: 300px;
  }

  .feature-title {
    font-size: 45px;
    margin: 0;
  }

  .feature-description {
    font-size: 24px;
  }
}

@media (max-width: 1250px) {
  .contentTypesStat {
    .statistics-cards {
      justify-content: space-around;
    }
    .statistic {
      flex: 0 0 250px;
      width: 250px;
    }
  
    .feature-img {
      height: 250px;
      width: 250px;
    }
  
    .feature-title {
      font-size: 35px;
      margin: 0;
    }
  
    .feature-description {
      font-size: 20px;
    }
  }
}

@media (max-width: 1050px) {
  .contentTypesStat {
    .statistics-cards {
      justify-content: space-around;
    }
    .statistic {
      flex: 0 0 200px;
      width: 200px;
    }
  
    .feature-img {
      height: 200px;
      width: 200px;
    }
  
    .feature-title {
      font-size: 35px;
      margin: 0;
    }
  
    .feature-description {
      font-size: 20px;
    }
  }
}

.navbar-logo_text {
  font-size: 1rem;
}

.navbar-logo_img {
  width: 1.5em;
  margin-right: .5em;
}

.navbar-item {
  padding: 0.5rem 1rem;
}

.navbar-top-item {
  padding: 0.5rem 2rem;
}

.language-selector {
  a.button {
    color: white;
    background: none;
    border-color: none;
    &:hover {
      background: #ffffff11;
      color: white;
    }
    span:first-of-type {
      width: 0;
      visibility: hidden;
      overflow: hidden;
    }
    .icon {
      margin: 0!important;
      width: auto;
      font-size: 1.5rem;
    }
  }
}